node_modules

soaring/data/telemetry
soaring/data/thermals/
soaring/**/__pycache__
soaring/data/plots
package.json
package-lock.json
.last_flight
__pycache__
soaring/data/animations
logs
results
trials.csv
seeds.txt
s2.txt
